<a href="https://colab.research.google.com/github/CodingCat-Jung/2024-2_BigDataProgramming_Class/blob/main/4%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num = int(input("원하는 단은: "))

i = 1

for i in range(9):
  print(num, "x", i+1, "=", num*(i+1))
  i += 1

원하는 단은: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [5]:
ssn = "991225-2468123"
print(ssn[7])

hero = ["hulk", "iron man", "superman"]
print(hero[2])

2
superman